<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
    <!-- css-->
    <link rel="stylesheet"
          th:href="@{/css/country.css}"/>

</head>
<body>
<div class="header">
    <h1>List of Countries</h1>
</div>
<div class="containers">


<div class="country-list">
    <ul th:each="tempCountry : ${countries}">
        <li>
            <a class="country-btt" th:text="${tempCountry.country}" th:href="@{/showFormForCountry(country=${tempCountry.country})}"></a>

        </li>
    </ul>
</div>

</div>


</body>
</html>
